/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */


.bg_original {background-color:#ea5117;}

.bg_actions {background-color:#01B2E4;}

.bg_voyages {background-color:#C0CD01;}

.bg_fantasia {background-color:#E4007D;}

.bg_mystery {background-color:#9E579D;}

.bg_primal {background-color:#66B15C;}

.bg_emergency {background-color:#FCC101;}

.bg_heroes {background-color:#E32434;}

.bg_astro {background-color:#028695;}

.bg_scooby-doo {background-color:#DBE812;}

.bg_doctor-who {background-color:#413C64;}

.bg_moomin {background-color:#0277D7;}

.bg_batman {background-color:#111111;}

.bg_adventure-time {background-color:#F4CB3B;}

.bg_looney-tunes {background-color:#F7E016;}

.bg_doraemon {background-color:#0242D7;}

.bg_star-wars {background-color:#999999;}

.bg_totoro {background-color:#68912E;}

.bg_harry-potter {background-color:#F1DA6F;}

.bg_bespoke {background-color:#264653;}



.original {color:#621829;}

.actions {color:#227DB6;}

.voyages {color:#565A28;}

.fantasia {color:#A13C68;}

.mystery {color:#71386B;}

.primal {color:#3C914E;}

.emergency {color:#B15432;}

.heroes {color:#B6454B;}

.astro {color:#04A2AD;}

.scooby-doo {background-color:#C249B3;}

.doctor-who {background-color:#413C64;}

.moomin {background-color:#0295FF;}

.batman {background-color:#111111;}

.adventure-time {background-color:#004DC9;}

.looney-tunes {background-color:#9A97A2;}

.doraemon {background-color:#0242D7;}

.star-wars {background-color:#999999;}

.totoro {background-color:#BDC22F;}

.harry-potter {background-color:#67171F;}



.border_original {border: 1px solid #ea5117;}

.border_actions {border: 1px solid #01B2E4;}

.border_voyages {border: 1px solid #C0CD01;}

.border_fantasia {border: 1px solid #E4007D;}

.border_mystery {border: 1px solid #9E579D;}

.border_primal {border: 1px solid #66B15C;}

.border_emergency {border: 1px solid #FCC101;}

.border_heroes {border: 1px solid #E32434;}

.border_astro {border: 1px solid #028695;}

.border_scooby-doo {background-color:#DBE812;}

.border_doctor-who {background-color:#413C64;}

.border_moomin {background-color:#0277D7;}

.border_batman {background-color:#111111;}

.border_adventure-time {background-color:#F4CB3B;}

.border_looney-tunes {background-color:#F7E016;}

.border_doraemon {background-color:#0242D7;}

.border_star-wars {background-color:#999999;}

.border_totoro {background-color:#68912E;}

.border_harry-potter {background-color:#F1DA6F;}