html, body {
	//background-color: #031C38;
	height: 100%;
	min-height: 518px;
}

.header {
	border: 1px #024595 solid;
}

.main {
	
}

.container{
    display: flex;
    font-family: "Trebuchet MS", sans-serif;
    gap: 30px;
}
.scene{
    background: #031C38;
    border-radius: 10px;
    flex-basis: 20%;
    min-height: 70vh;
    padding: 20px;
}
.scene__title{
	color: #fff;
    font-size: 22px;
	margin-bottom: 10px;
    min-height: 6vh;
    text-align: center;
}

.footer {
	border: 1px #024595 solid;
}

.dice-tray {
    background: #024595;
    border-radius: 10px;
    min-height: 10vh;
    padding: 20px;
}
